/* Large width (min-width: 1200px) for labtop and descktop */

@media all and (min-width: 1200px)        
    {

        /* Général */

 
        *
        {
            margin: 0;
            padding: 0;
        }
        Body
        {
            font-family: Arial, sans-serif;
            font-size: 15px;
            background-color: #E6EAED;
        }
        p
        {
            line-height: 17px;
        }
        ul
        {
            list-style: none;
        }
        h1
        {
            color: #444;
            font-size: 45px;
        }

        h2
        {
            font-size: 25px;

        }
        h3
        {
            font-size: 20px;
        }
        a
        {
            text-decoration: none;
        }
        link
        {
            text-decoration: none;
        }
        link:visited
        {
            text-decoration: none;
        }
        link:hover
        {
            text-decoration: none;
            color : #1aa9cc;
        }
        .wrapper
        {
            width: 1200px;
            margin: 0 auto;
        }
        .all-wrapper
        {
            max-width: 1700px;
            width: 100%;
            margin: 0 auto;
        }
        .line
        {
            border-bottom: solid #444;
            width: 800px;
            margin: 50px auto 50px;
        }


        /* Header */


        header
        {
            height: 40px;
            width: 100%;
            background-color: black;
            font-size: 15px;
        }
        .head-box-11
        {
            float: right;
            display: inline-block;
            color: white;
            font-weight: bold;
            margin-top: 12px;
            margin-right: 60px;

        }
        .head-box-12
        {
            float: right;
            display: inline-block;
            color: white;
            font-weight: bold;
            margin-top: 12px;
            margin-right: 60px;

        }
        header a
        {
            color: white;
        }
        header a:hover
        {
            color: #1aa9cc;
            text-decoration: none;
        }


        /* Main menue */


        #main-menue
        {
            background: #fff;
            width: 100%;
            height: 100px;
        }
        .navBar
        {

            display: block;
            float: right;
            margin-top: 1.7em;
            margin-right: 6em;

        }
        .navBar > a
        {
            display: inline-block;
            padding: 10px;
            margin: 0 0.5em 0;
            color: black;
            font-size: 17px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .nav-button
        {
            display: none;
        }
        .toggle-nav
        {
            display: none;
        }
        .nav-link-1
        {
            border-bottom: solid 3px #1aa9cc;
        }
        .navBar > a:hover
        {
            border-bottom: solid 3px #1aa9cc;
        }
        .head-box-logo 
        {
            border-radius: 10px;
            margin-left: 6em;
            position: absolute;
            top: 0;

        }
        .head-box-logo img
        {
            border-radius: 10px;

        }


        /* Main image  */


        #main-image
        {
            height: 800px ;
            width: 1200px;
            margin: 0 auto;
            background: url('../images/Background.jpeg') center ;
            background-size: 100%;
            background-repeat: no-repeat;
        }
        #main-image h1
        {
            font-weight: normal;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 30px;
            padding-top: 280px;
        }
        .button-1
        {
            display: block;
            height: 50px;
            width: 120px;
            border-radius: 10px;
            border: 2px solid #444;
            color: #fff;
            background: #444;
            font-size: 20px;
            margin: 0 auto;
            line-height: 50px;
            text-align: center;
        }
        #main-image a:hover
        {
            color: #fff;
            text-decoration: underline;
        }


        /* Skills */


        #skills
        {
            margin: 0 auto;
        }
        .intro
        {
            color: white;
            width: 500px;
            height: 350px;
            float: left;
            text-align: center;
            padding: 30px;
            border-radius: 5px;
            background: #444;
            margin-right: 80px;
        }
        .intro a
        {
            color: #1aa9cc;
        }
        .intro a:hover
        {
            color: #1aa9cc;
            text-decoration: underline;
        }
        .intro h3
        {
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: underline;
        }
        .skills-image
        {
            border-radius: 5px;
        }


        /* Key point */


        #key-point
        {

            margin: 80px auto 0;
        }

        .key-point-list article 
        {
            width: 295px;
            display: inline-block;
            padding-top: 210px;
        }
        .point1
        {
            text-align: center;
            background: url(../images/exp.png) no-repeat top center;
        }
        .point2
        {
            text-align: center;
            background: url(../images/devis.png) no-repeat top center;
        }
        .point3
        {
            text-align: center;
            background: url(../images/time.png) no-repeat top center;
        }
        .point4
        {
            text-align: center;
            background: url(../images/label.png) no-repeat top center;
        }


        /* Button-line */


        .button-2
        {
            text-transform: uppercase;
            display: block;
            height: 50px;
            width: 100%;
            border-radius: 10px;
            color: #fff;
            background: #444;
            font-size: 20px;
            margin: 0 auto;
            line-height: 50px;
            text-align: center;
            margin-bottom: 35px;
        }
        .button-2:hover
        {
            display: block;
            height: 50px;
            width: 100%;
            border-radius: 10px;
            color: #fff;
            background: #1aa9cc;
            font-size: 20px;
            margin: 0 auto;
            line-height: 50px;
            text-align: center;
            margin-bottom: 35px;
        }


        /* contact */


        #contact
        {
            width: 100%;
            background-color: black;
        }
        #contact article
        {
            width: 300px;
            padding: 48px;
            display: inline-block;
            text-align: center;
        }
        .about
        {
            margin-top: 40px;
            font-size: 17px;
            color: white;
            vertical-align: top;
        }
        .foot-logo img
        {  
            border-radius: 10px;
        }
        .info
        {
            margin-top: 40px;
            font-size: 17px;
            color: white;
            vertical-align: top;
        }
        .info a
        {
            color: white;

        }
        .info a:hover
        {
            color: #1aa9cc;
        }


        /* footer */


        footer
        {
            height: 30px;
            width: 100%;
            background-color: #ed500f;
        }
        footer p
        {
            display: inline-block;
        }
        footer #copyright
        {

            margin-left: 20px;
            margin-top: 5px;

        }
        footer #trace
        {

            float: right;
            margin-right: 20px;
            margin-top: 5px;

        }
        footer a
        {
            color: black;
        }
        footer a:hover
        {
            color: #1aa9cc;
        }

    }




/* middle width (min-width: 894px) and (max-width: 1199px) for small labtop and large tablets */

@media all and (min-width: 894px) and (max-width: 1199px)
    {

        /* Général */


        *
        {
            margin: 0;
            padding: 0;
        }
        Body
        {
            font-family: Arial, sans-serif;
            font-size: 15px;
            background-color: #E6EAED;
        }
        p
        {
            line-height: 17px;
        }
        ul
        {
            list-style: none;
        }
        h1
        {
            color: #444;
            font-size: 45px;
        }

        h2
        {
            font-size: 25px;

        }
        h3
        {
            font-size: 20px;
        }
        a
        {
            text-decoration: none;
        }
        link
        {
            text-decoration: none;
        }
        link:visited
        {
            text-decoration: none;
        }
        link:hover
        {
            text-decoration: none;
            color : #1aa9cc;
        }
        .wrapper
        {
            width: 100%;
            margin: 0 auto;
        }
        .all-wrapper
        {

            width: 100%;
            margin: 0 auto;
        }
        .line
        {
            border-bottom: solid #444;
            width: 60%;
            margin: 50px auto 50px;
        }


        /* Header */


        header
        {
            height: 40px;
            width: 100%;
            background-color: black;
            font-size: 13px;
        }
        .head-box-11
        {
            float: right;
            display: inline-block;
            color: white;
            font-weight: bold;
            margin-top: 12px;
            margin-right: 5%;

        }
        .head-box-12
        {
            float: right;
            display: inline-block;
            color: white;
            font-weight: bold;
            margin-top: 12px;
            margin-right: 5%;

        }
        header a
        {
            color: white;
        }
        header a:hover
        {
            color: #1aa9cc;
            text-decoration: none;
        }


        /* Main menue */


        #main-menue
        {
            background: #fff;
            width: 100%;
            height: 100px;
        }
        .navBar
        {

            display: block;
            float: right;
            margin-top: 1.7em;
            margin-right: 8%;

        }
        .navBar > a
        {
            display: inline-block;
            padding: 10px;
            margin: 0 0.5em 0;
            color: black;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .nav-button
        {
            display: none;
        }
        .toggle-nav
        {
            display: none;
        }
        .nav-link-1
        {
            border-bottom: solid 3px #1aa9cc;
        }
        .navBar > a:hover
        {
            border-bottom: solid 3px #1aa9cc;
        }
        .head-box-logo 
        {
            border-radius: 10px;
            margin-left: 6em;
            position: absolute;
            top: 0;

        }
        .head-box-logo img
        {
            border-radius: 10px;
            width : 80%;
        }


        /* Main image  */


        #main-image
        {
            height: 66.66vw;
            width: 100vw;
            margin: 0 auto;
            background: url('../images/Background.jpeg') center ;
            background-size: 100%;
            background-repeat: no-repeat;
        }
        #main-image h1
        {
            font-weight: normal;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 30px;
            padding-top: 218px;
        }
        .button-1
        {
            display: block;
            height: 50px;
            width: 120px;
            border-radius: 10px;
            border: 2px solid #444;
            color: #fff;
            background: #444;
            font-size: 20px;
            margin: 0 auto;
            line-height: 50px;
            text-align: center;
        }
        #main-image a:hover
        {
            color: #fff;
            text-decoration: underline;
        }


        /* Skills */


        #skills
        {
            margin: 0 auto;
        }
        .box-skills
        {
            width: 100%;
            border-radius: 5px;
        }

        .intro
        {
            color: white;
            width: 500px;
            text-align: center;
            padding: 40px;
            border-radius: 5px;
            background: #444;
            margin: 0 auto;

        }
        .intro a
        {
            color: #1aa9cc;
        }
        .intro a:hover
        {
            color: #1aa9cc;
            text-decoration: underline;
        }
        .intro h3
        {
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: underline;
        }
        .skills-image
        {
            width: 560px;
            border-radius: 5px;
            margin: 50px auto;
        }


        /* Key point */


        .key-point-list
        {
            width: 894px;
            margin: 80px auto 0;
        }

        .key-point-list article 
        {
            width: 220px;
            display: inline-block;
            padding-top: 210px;
            text-align: center;

        }
        .point1
        {
            text-align: center;
            background: url(../images/exp.png) no-repeat top center;
        }
        .point2
        {
            text-align: center;
            background: url(../images/devis.png) no-repeat top center;
        }
        .point3
        {
            text-align: center;
            background: url(../images/time.png) no-repeat top center;
        }
        .point4
        {
            text-align: center;
            background: url(../images/label.png) no-repeat top center;
        }


        /* Button-line */


        .button-2
        {
            text-transform: uppercase;
            display: block;
            height: 50px;
            width: 100%;
            border-radius: 10px;
            color: #fff;
            background: #444;
            font-size: 20px;
            margin: 0 auto;
            line-height: 50px;
            text-align: center;
            margin-bottom: 35px;
        }
        .button-2:hover
        {
            display: block;
            height: 50px;
            width: 100%;
            border-radius: 10px;
            color: #fff;
            background: #1aa9cc;
            font-size: 20px;
            margin: 0 auto;
            line-height: 50px;
            text-align: center;
            margin-bottom: 35px;
        }


        /* contact */


        #contact
        {
            width: 100%;
            background-color: black;
        }
        .contact-box
        {
            width: 894px;
            margin: auto;    
        }
        #contact article
        {
            width: 250px;
            padding: 20px;
            display: inline-block;
            text-align: center;
            margin: 0 auto;
        }
        .about
        {
            margin-top: 40px;
            font-size: 17px;
            color: white;
            vertical-align: top;
        }
        .foot-logo img
        {  
            border-radius: 10px;
            width: 90%;
        }
        .info
        {
            margin-top: 40px;
            font-size: 17px;
            color: white;
            vertical-align: top;
        }
        .info a
        {
            color: white;

        }
        .info a:hover
        {
            color: #1aa9cc;
        }


        /* footer */


        footer
        {
            height: 30px;
            width: 100%;
            background-color: #ed500f;
        }
        footer p
        {
            display: inline-block;
        }
        footer #copyright
        {

            margin-left: 20px;
            margin-top: 5px;

        }
        footer #trace
        {

            float: right;
            margin-right: 20px;
            margin-top: 5px;

        }
        footer a
        {
            color: black;
        }
        footer a:hover
        {
            color: #1aa9cc;
        }

    }



/* Small width (min-width: 505px) and (max-width: 893px) for tablets and large smartphone */

@media all and (min-width: 505px) and (max-width: 893px)    
    {

        /* Général */


        *
        {
            margin: 0;
            padding: 0;
        }
        Body
        {
            font-family: Arial, sans-serif;
            font-size: 15px;
            background-color: #E6EAED;
        }
        p
        {
            line-height: 17px;
        }
        ul
        {
            list-style: none;
        }
        h1
        {
            color: #444;
            font-size: 35px;
        }

        h2
        {
            font-size: 25px;

        }
        h3
        {
            font-size: 20px;
        }
        a
        {
            text-decoration: none;
        }
        link
        {
            text-decoration: none;
        }
        link:visited
        {
            text-decoration: none;
        }
        link:hover
        {
            text-decoration: none;
            color : #1aa9cc;
        }
        .wrapper
        {
            width: 100%;
            margin: 0 auto;
        }
        .all-wrapper
        {

            width: 100%;
            margin: 0 auto;
        }
        .line
        {
            border-bottom: solid #444;
            width: 60%;
            margin: 50px auto 50px;
        }


        /* Header */


        header
        {
            height: 40px;
            width: 100%;
            background-color: black;
            font-size: 13px;
        }
        .head-box-11
        {
            float: right;
            display: inline-block;
            color: white;
            font-weight: bold;
            margin-top: 12px;
            margin-right: 5%;

        }
        .head-box-12
        {
            float: right;
            display: inline-block;
            color: white;
            font-weight: bold;
            margin-top: 12px;
            margin-right: 5%;

        }
        header a
        {
            color: white;
        }
        header a:hover
        {
            color: #1aa9cc;
            text-decoration: none;
        }
        @media all and (max-width: 680px)
        {
        .head-text
            {
                display: none;

            }
        header
            {
                font-size: 17px;
            }
        }


        /* Main menue */


        #main-menue
        {
            background: #fff;
            width: 100%;
            height: 100px;
        }
        .navBar
        {
            display: none;
        }
        .nav-button
        {
            display: block;
            font-size: 17x;
            background: #fff;
            border-top: solid 2px black;
            border-bottom: solid 2px black;
            border-left: solid 2px black;
            border-right: solid 2px black;
            color: black;
            border-radius: 5px;
            height: 4em;
            width: 5em;
            float: right;
            margin-right: 10%;
            margin-top: 2.5em;
            cursor: pointer;

        }
        .nav-button:hover
        {
            border: 2px solid black;
            background: black;
            color:#fff;

        }
        .toggle-nav
        {
            display: none;
        }
        .toggle-nav.active
        {
            display: block;
            float: right;
            margin-top: 27.5px;
            text-align: center;
            position: sticky;
            
        }
        .toggle-nav > a
        {
            display: block;
            height: 20px;
            padding: 10px;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 5px;
        }
        .toggle-nav > a:hover
        {
            background-color: black;
            color: #fff;
        }
        .toggle-link-1
        {
            border-top: solid 2px black;
            border-bottom: solid 1px black;
            border-left: solid 2px black;
            border-right: solid 1px black;
            background: black;
            color: #fff;
        }
        .toggle-link-2, .toggle-link-3
        {
            border-top: solid 1px black;
            border-bottom: solid 1px black;
            border-left: solid 2px black;
            border-right: solid 2px black;
            background: #fff;
            color: black;
        }
        .toggle-link-4
        {
            border-top: solid 1px black;
            border-bottom: solid 2px black;
            border-left: solid 2px black;
            border-right: solid 2px black;
            background: #fff;
            color: black;
        }
        .head-box-logo 
        {
            border-radius: 10px;
            margin-left: 10%;
            position: absolute;
            top: 0;

        }
        .head-box-logo img
        {
            border-radius: 10px;
            width : 250px;
        }
        
        
        /* Main image  */


        #main-image
        {
            display: block;
            height: 66.66vw;
            width: 100vw;
            margin: 0 auto;
            background: url('../images/Background.jpeg') center ;
            background-size: 100%;
            background-repeat: no-repeat;
        }
        #main-image h1
        {
            font-weight: normal;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 30px;
            padding-top: 20%;
        }
        .button-1
        {
            display: block;
            height: 50px;
            width: 120px;
            border-radius: 10px;
            border: 2px solid #444;
            color: #fff;
            background: #444;
            font-size: 20px;
            margin: 0 auto;
            line-height: 50px;
            text-align: center;
        }
        #main-image a:hover
        {
            color: #fff;
            text-decoration: underline;
        }


        /* Skills */


        #skills
        {
            margin: 0 auto;
        }
        .box-skills
        {
            width: 100%;
            border-radius: 5px;
        }

        .intro
        {
            color: white;
            width: 80%;
            text-align: center;
            padding: 30px;
            border-radius: 5px;
            background: #444;
            margin: 0 auto;

        }
        .intro a
        {
            color: #1aa9cc;
        }
        .intro a:hover
        {
            color: #1aa9cc;
            text-decoration: underline;
        }
        .intro h3
        {
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: underline;
        }

        .skills-image img
        {
            width: 91% ;
            border-radius: 5px;
            margin: 50px auto;
            display: block;
        }

        
        /* Key point */
        
        
        .key-point-list
        {
            width: 80%;
            margin: 80px auto 0;
        }

        .key-point-list article 
        {
            width: 49%;
            display: inline-block;
            padding-top: 210px;
            text-align: center;
            margin: 30px auto;

        }
        .point1
        {
            text-align: center;
            background: url(../images/exp.png) no-repeat top center;
        }
        .point2
        {
            text-align: center;
            background: url(../images/devis.png) no-repeat top center;
        }
        .point3
        {
            text-align: center;
            background: url(../images/time.png) no-repeat top center;
        }
        .point4
        {
            text-align: center;
            background: url(../images/label.png) no-repeat top center;
        }
        
        
        /* Button-line */


        .button-2
        {
            text-transform: uppercase;
            display: block;
            height: 50px;
            width: 100%;
            border-radius: 10px;
            color: #fff;
            background: #444;
            font-size: 20px;
            margin: 0 auto;
            line-height: 50px;
            text-align: center;
            margin-bottom: 35px;
        }
        .button-2:hover
        {
            display: block;
            height: 50px;
            width: 100%;
            border-radius: 10px;
            color: #fff;
            background: #1aa9cc;
            font-size: 20px;
            margin: 0 auto;
            line-height: 50px;
            text-align: center;
            margin-bottom: 35px;
        }

        
        /* contact */


        #contact
        {
            width: 100%;
            background-color: black;
        }
        .contact-box
        {
            width: 100%;
            margin: auto;    
        }
        #contact article
        {
            width: 80%;
            padding: 20px;
            display: block;
            text-align: center;
            margin: 0 auto;
        }
        .about
        {
            margin-top: 40px;
            font-size: 17px;
            color: white;
            vertical-align: top;
        }
        .foot-logo img
        {  
            border-radius: 10px;

        }
        .info
        {
            margin-top: 40px;
            font-size: 17px;
            color: white;
            vertical-align: top;
        }
        .info a
        {
            color: white;

        }
        .info a:hover
        {
            color: #1aa9cc;
        }


        /* footer */


        footer
        {
            height: 30px;
            width: 100%;
            background-color: #ed500f;
        }
        footer p
        {
            display: inline-block;
        }
        footer #copyright
        {
            margin-left: 20px;
            margin-top: 5px;
        }
        footer #trace
        {
            float: right;
            margin-right: 20px;
            margin-top: 5px;
        }
        footer a
        {
            color: black;
        }
        footer a:hover
        {
            color: #1aa9cc;
        }

    }    




/* x-small width (max-width: 505px) for all smartphone */

@media all and (max-width: 505px)    
    {

        /* Général */


        *
        {
            margin: 0;
            padding: 0;
        }
        Body
        {
            font-family: Arial, sans-serif;
            font-size: 15px;
            background-color: #E6EAED;
        }
        p
        {
            line-height: 17px;
        }
        ul
        {
            list-style: none;
        }
        h1
        {
            color: #444;
            font-size: 25px;
        }

        h2
        {
            font-size: 25px;

        }
        h3
        {
            font-size: 20px;
        }
        a
        {
            text-decoration: none;
        }
        link
        {
            text-decoration: none;
        }
        link:visited
        {
            text-decoration: none;
        }
        link:hover
        {
            text-decoration: none;
            color : #1aa9cc;
        }
        .wrapper
        {
            width: 100%;
            margin: 0 auto;
        }
        .all-wrapper
        {

            width: 100%;
            margin: 0 auto;
        }
        .line
        {
            border-bottom: solid #444;
            width: 60%;
            margin: 50px auto 50px;
        }


        /* Header */


        header
        {
            height: 40px;
            width: 100%;
            background-color: black;
            font-size: 17px;
        }
        .head-box-11
        {
            float: right;
            display: inline-block;
            color: white;
            font-weight: bold;
            margin-top: 12px;
            margin-right: 5%;

        }
        .head-box-12
        {
            float: right;
            display: inline-block;
            color: white;
            font-weight: bold;
            margin-top: 12px;
            margin-right: 5%;

        }
        header a
        {
            color: white;
        }
        header a:hover
        {
            color: #1aa9cc;
            text-decoration: none;
        }
        .head-text
        {
            display: none;    
        }
        
        
        /* Main menue */


        #main-menue
        {
            background: #fff;
            width: 100%;
            height: 80px;
        }
        .navBar
        {
            display: none;
        }
        .nav-button
        {
            display: block;
            font-size: 17x;
            background: #fff;
            border-top: solid 2px black;
            border-bottom: solid 2px black;
            border-left: solid 2px black;
            border-right: solid 2px black;
            color: black;
            border-radius: 5px;
            height: 4em;
            width: 5em;
            float: right;
            margin-right: 10%;
            margin-top: 19px;
            cursor: pointer;

        }
        .nav-button:hover
        {
            border: 2px solid #444;
            background: black;
            color:#fff;

        }
        .toggle-nav
        {
            display: none;
        }
        .toggle-nav.active
        {
            display: block;
            float: right;
            margin-top: 27.5px;
            text-align: center;
            position: relative;
            z-index: 2;
        }
        .toggle-nav > a
        {
            display: block;
            height: 20px;
            padding: 10px;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 5px;
        }
        .toggle-nav > a:hover
        {
            background-color: black;
            color: #fff;
        }
        .toggle-link-1
        {
            border-top: solid 2px black;
            border-bottom: solid 1px black;
            border-left: solid 2px black;
            border-right: solid 1px black;
            background: black;
            color: #fff;
        }
        .toggle-link-2, .toggle-link-3
        {
            border-top: solid 1px black;
            border-bottom: solid 1px black;
            border-left: solid 2px black;
            border-right: solid 2px black;
            background: #fff;
            color: black;
        }
        .toggle-link-4
        {
            border-top: solid 1px black;
            border-bottom: solid 2px black;
            border-left: solid 2px black;
            border-right: solid 2px black;
            background: #fff;
            color: black;
        }
        .head-box-logo 
        {
            float: left;

            border-radius: 10px;
            margin-left: 10%;
            position: absolute;
            z-index: 2;
            top: 0;

        }
        .head-box-logo img
        {
            border-radius: 10px;
            width : 188px;
        }
        
        
        /* Main image  */


        #main-image
        {
            height: 66.66vw;
            width: 100vw;
            margin: 0 auto;
            background: url('../images/Background.jpeg') center ;
            background-size: 100%;
            background-repeat: no-repeat;
            position: relative;
        }
        .box-main-tittle
        {
            position: absolute;
        }
        #main-image h1
        {
            font-weight: normal;
            text-transform: uppercase;
            text-align: center;
            padding-top: 20%;
        }
            @media all and (max-width: 320px)
            {
                #main-image h1
                {
                   font-size: 20px;
                }
            }
        .button-1
        {
            display: block;
            height: 30px;
            width: 100px;
            border-radius: 10px;
            border: 2px solid #444;
            color: #fff;
            background: #444;
            font-size: 17px;
            margin: 0 auto;
            line-height: 32px;
            text-align: center;
        }
        #main-image a:hover
        {
            color: #fff;
            text-decoration: underline;
        }


        /* Skills */


        #skills
        {
            margin: 0 auto;
        }
        .box-skills
        {
            width: 100%;
            border-radius: 5px;
        }

        .intro
        {
            color: white;
            width: 80%;
            text-align: center;
            padding: 30px;
            border-radius: 5px;
            background: #444;
            margin: 0 auto;

        }
        .intro a
        {
            color: #1aa9cc;
        }
        .intro a:hover
        {
            color: #1aa9cc;
            text-decoration: underline;
        }
        .intro h3
        {
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: underline;
        }

        .skills-image img
        {
            width: 91% ;
            border-radius: 5px;
            margin: 50px auto;
            display: block;
        }

        
        /* Key point */
        
        
        .key-point-list
        {
            width: 100%;
            margin: 80px auto 0;
        }
        .key-point-list article 
        {
            width: 49%;
            display: inline-block;
            padding-top: 210px;
            text-align: center;
            margin: 30px auto;
        }

        @media all and (max-width: 348px)
        {
        .key-point-list article 
            {
                width: 100%;
                display: block;
            }
        }
        .point1
        {
            text-align: center;
            background: url(../images/exp.png) no-repeat top center;
        }
        .point2
        {
            text-align: center;
            background: url(../images/devis.png) no-repeat top center;
        }
        .point3
        {
            text-align: center;
            background: url(../images/time.png) no-repeat top center;
        }
        .point4
        {
            text-align: center;
            background: url(../images/label.png) no-repeat top center;
        }
        
        
        /* Button-line */


        .button-2
        {
            text-transform: uppercase;
            display: block;
            height: 50px;
            width: 100%;
            border-radius: 10px;
            color: #fff;
            background: #444;
            margin: 0 auto;
            line-height: 50px;
            text-align: center;
            margin-bottom: 35px;
        }
        .button-2:hover
        {
            display: block;
            height: 50px;
            width: 100%;
            border-radius: 10px;
            color: #fff;
            background: #1aa9cc;
            margin: 0 auto;
            line-height: 50px;
            text-align: center;
            margin-bottom: 35px;
        }
        .button-text
        {
            display: none;
        }
        
        
        /* contact */


        #contact
        {
            width: 100%;
            background-color: black;
        }
        .contact-box
        {
            width: 100%;
            margin: auto;    
        }
        #contact article
        {
            width: 80%;
            padding: 20px;
            display: block;
            text-align: center;
            margin: 0 auto;
        }
        .about
        {
            margin-top: 40px;
            font-size: 17px;
            color: white;
            vertical-align: top;
        }
        .foot-logo img
        {  
            border-radius: 10px;
            width: 100%;

        }
        .info
        {
            margin-top: 40px;
            font-size: 17px;
            color: white;
            vertical-align: top;
        }
        .info a
        {
            color: white;

        }
        .info a:hover
        {
            color: #1aa9cc;
        }


        /* footer */


        footer
        {
            height: 60px;
            width: 100%;
            background-color: #ed500f;
            font-size: 13px;
        }
        footer p
        {
            display: block;
        }
        footer #copyright
        {

            margin-left: 20px;

        }
        footer #trace
        {

            margin-left: 20px;
            margin-top: 5px;

        }
        footer a
        {
            color: black;
        }
        footer a:hover
        {
            color: #1aa9cc;
        }
    }
@media all and (max-width: 315px)   
{
        .nav-button
        {
            margin-right: 1%;
        }
}